<div class="item panel panel-default">

    <div class="panel-heading">
        <h4 class="name panel-title" tooltip-placement="top" tooltip-append-to-body="true" tooltip-html-unsafe="{{ item.name }}">{{ item.name }}</h4>
    </div>

    <div class="panel-body">
        <p class="desc">{{ item.desc }}</p>

        <div ng-show="item.locked_by">
            <button class="btn btn-danger" ng-class="{disabled: item.is_syncing}" ng-click="unlock()">Unlock</button>
            <span class="lockedby">Locked by {{ item.locked_by.username }}</span>
        </div>

        <div ng-hide="item.locked_by">
            <button class="btn btn-success" ng-class="{disabled: item.is_syncing}" ng-click="lock()">Lock</button>
        </div>
    </div>
    <div class="panel-footer">
        <alert ng-repeat="error in item.errors track by $index" type="danger" close="closeAlert($index)">{{ error }}</alert>
    </div>

</div>
