<div class="item-search row">
    <form role="form">
        <div class="col-md-3 col-md-offset-9 form-group">
            <div class="input-group">
                <label class="sr-only" for="id_query_dibs_items">Search</label>
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                <input name="query" id="id_query_dibs_items" class="form-control" ng-model="searchText" placeholder="Search..." />
            </div>

        </div>
    </form>
</div>

<div class="item-list row">

    <div ng-hide="items.length" class="no-items">
        <p>There are no items to show</p>
    </div>

    <div class="col-md-3" ng-repeat="obj in items | filter:searchText | orderBy:'name' track by obj.id ">

        <dibs-item item="obj"></dibs-item>

    </div>

</div>
