<h2>List of items</h2>

<div class="item-list row">

    <div class="col-md-3" ng-repeat="item in items">

        <div class="item panel panel-default">

            <div class="panel-heading">
                <h4 class="name panel-title">{{ item.name }}</h4>
            </div>

            <div class="panel-body">
                <p class="desc">{{ item.desc }}</p>

                <div ng-if="item.locked_by">
                    <span class="lockedby">Zablokowane przez {{ item.locked_by.username }}</span>
                </div>

                <div ng-if="!item.locked_by">
                    <button ng-if="!item.locked_by" class="btn btn-success" ng-click="lock(item)">Lock</button>
                </div>
            </div>

        </div>

    </div>

</div>
