[run]
omit=src/dibs/migrations/*,src/dibs/twresource.py,src/dibs/wsgi.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __unicode__
    raise NotImplementedError
    if __name__ == .__main__.:
